<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <!-- App Settings -->
  <appSettings>
    <add key="DefaultIMGsFolder" value="C:\DVLD-People-Images" />
	<add key="RegistryPath" value="HKEY_CURRENT_USER\SOFTWARE\DVLD\CurrentUser" />
  </appSettings>

  <!-- Connection String -->
	<connectionStrings>
		<add name="DVLD_DB"
			 connectionString="Server=.;Database=DVLD;Integrated Security=True;" />
	</connectionStrings>
	
</configuration>